/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Makefile.in
/Testing/
/cmake_install.cmake
/couch_compact
/couch_dbdump
/couch_dbinfo
/couch_view_file_merger
/couch_view_file_sorter
/couchscript
/couchstore_testapp
/install_manifest.txt
/libcouchstore.so*
/libcouchstore.so*
/libmapreduce.so*
